{% extends 'base.html.twig' %}

{% block title %}Hello MutliController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>  
    </div> 
{{ form_end(form) }}
{% endblock %}
