{% extends 'base.html.twig' %}

{% block title %}NOUVEAU MOT DE PASSE{% endblock %}

{% block size %}12{% endblock size %}

{% block body %}
<div class="container text-center">
    <form method="post" class="col-6 offset-3 mt-5">
        {{ form_start(resetForm) }}
        {{ form_end(resetForm) }}
    </form>
</div>
{% endblock %}
