{% extends 'base.html.twig' %}

{% block title %}{{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block size %}10{% endblock size %}

{% block body %}
<div class="container row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a    class="nav-link active" id="v-pills-home-tab" data-toggle="pill" 
                href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes informations</a>
          <a    class="nav-link" id="v-pills-profile-tab" data-toggle="pill" 
                href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mes rendez-vous</a>
        </div>
      </div>
    <div class="col-9">
        {{ include('profil/_form.profil.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>
{% endblock %}
