<form   class="col-xs-3 border-red"
        method="post" 
        action="{{ path('booking_delete', {'id': booking.id}) }}" 
        onsubmit="return confirm('Êtes vous sûrs de vouloir supprimer ce rdv ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger">Supprimer le rdv</button>
</form>
