{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-8">
        <title>Modification du Rdv</title>
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Modification du Rdv</strong>
        </h5>
        {{ include('booking/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <div class="form-group row">
            <a href="{{ path('booking_list') }}" class="btn btn-secondary">Retour</a>
            {{ include('booking/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
