{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <title>Modifier< Booking</title>
    <h1>Create new Booking</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">Retour</a>
    <a href="{{ path('booking_new') }}">Create new booking</a>
{% endblock %}
