{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {# SHOW PRISE RDV #}
    <div class="bg-light" id="ShowRdv">
      <div class="header">
        <title>Prendre Rdv</title>
      </div> 
      <div class="body" >
        <div id="rdv-holder">
          {{ include('./booking/_form.html.twig') }}
        </div>
      </div>
        <div class="center text-center">
          <a class="btn btn-secondary"  href="{{ path('booking_index') }}" class="btn btn-secondary">Retour</a>
          {# <a class="btn btn-primary"    href="{{ path('booking_new') }}">Prendre rdv</a> #}
        </div>
    </div>
{% endblock %}
