{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron row">
            <div class="col-8">
                <h1>CHAUFFATEC</h1>
                <p class="text-justify">
    L'entreprise CHAUFFATEC, implantée à NANCY, propose ses services dans le domaine du chauffage. 
    Depuis plusieurs années, nous avons pu acquérir une expérience garantissant un travail d'expert, le mieux adapté à vos besoins. Nous venons sur place à la rencontre du client, afin d'analyser au mieux la situation et proposer une solution convenant à son budget et ses exigences de confort. Du devis jusqu'à l'installation, notre équipe reste à votre écoute en cas de problème technique, pour discuter ensemble de ce problème et des différentes solutions possibles pour le résoudre le plus rapidement possible.


    <p><h4>Zone d'intervention</h4>
    Nous intervenons principalement à NANCY, mais également à VANDOEUVRE-LES-NANCY, VILLERS-LES-NANCY, LUDRES, HEILLECOURT, HOUDEMONT</p>
                </p>
            </div>

            <div class="card col-4 float-right pl-5 pr-2 pt-5" 
                style=" background-color: #EE4423; 
                        line-height: 1.5; 
                        color: #fff;
                        display: -webkit-box;
                        font-size: 1.5rem;
                        font-weight: 300;
                        height:auto;">
                    <p><strong><span>CHAUFFATEC</span></strong></p>
                    <p class="small">Chauffagiste à&nbsp;NANCY</p>
                    <p class="small"><small>3 rue Durival NANCY&nbsp;54000</small></p>
                    <p><a   class="phone"
                            style=" color: inherit;
                                    text-decoration: none;
                                    -webkit-transition: all ease-in .1s;
                                    -o-transition: all ease-in .1s;
                                    transition: all ease-in .1s;" 
                            href="tel:+33683204058"><i class="fas fa-phone fa-flip-horizontal"></i class="ml-1"> 06 83 20 40 58</a></p>
                    <p class="opening-hours small"><i class="far fa-clock"></i><small> Du lundi au vendredi de 8h à 18h</small></p>
            </div>
        </div>

    </div>
{% endblock %}