{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron row">
            <div class="col-8">
                <h1>CHAUFFATEC</h1>
                <p class="text-justify">
    L'entreprise CHAUFFATEC, implantée à NANCY, propose ses services dans le domaine du chauffage. Depuis plusieurs années, nous avons pu acquérir une expérience garantissant un travail d'expert, le mieux adapté à vos besoins. Nous venons sur place à la rencontre du client, afin d'analyser au mieux la situation et proposer une solution convenant à son budget et ses exigences de confort. Du devis jusqu'à l'installation, notre équipe reste à votre écoute en cas de problème technique, pour discuter ensemble de ce problème et des différentes solutions possibles pour le résoudre le plus rapidement possible.


    Zone d'intervention
    Nous intervenons principalement à NANCY, mais également à VANDOEUVRE-LES-NANCY, VILLERS-LES-NANCY, LUDRES, HEILLECOURT, HOUDEMONT
                </p>
            </div>

            <div class="card col-3" style="background-color: #EE4423;">
                <div class="card-header">
                    <p><strong><span class="find-us-txt__title">CHAUFFATEC</span></strong><br>
                        Chauffagiste à&nbsp;NANCY</p>
                </div>
                <div class="card-body">
                    <p>3 rue Durival<br>
                        NANCY&nbsp;54000</p>
                    <p><a class="phone" href="tel:+33372310185"><i class="fas fa-phone fa-flip-horizontal"></i>03 72 31 01 85</a></p>
                </div>
                <div class="card-footer">
                    <p class="opening-hours"><i class="far fa-clock"></i>Du lundi au vendredi de 8h à 18h</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}