{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron row">
            <div class="col-8">
                <h1>CHAUFFATEC</h1>
                <p class="text-justify">
    L'entreprise CHAUFFATEC, implantée à NANCY, propose ses services dans le domaine du chauffage. 
    Depuis plusieurs années, nous avons pu acquérir une expérience garantissant un travail d'expert, le mieux adapté à vos besoins. Nous venons sur place à la rencontre du client, afin d'analyser au mieux la situation et proposer une solution convenant à son budget et ses exigences de confort. Du devis jusqu'à l'installation, notre équipe reste à votre écoute en cas de problème technique, pour discuter ensemble de ce problème et des différentes solutions possibles pour le résoudre le plus rapidement possible.


    Zone d'intervention
    Nous intervenons principalement à NANCY, mais également à VANDOEUVRE-LES-NANCY, VILLERS-LES-NANCY, LUDRES, HEILLECOURT, HOUDEMONT
                </p>
            </div>

            <div class="card col-3 float-right" 
                style=" background-color: #EE4423; 
                        line-height: 1.3; 
                        font-family: Roboto,sans-serif;
                        color: #fff;
                        display: -webkit-box;
                        font-size: 1.5rem;
                        font-weight: 300;
                        padding: 2rem 1.5rem;">
                    <p><strong><span>CHAUFFATEC</span></strong><br>
                        Chauffagiste à&nbsp;NANCY</p>
                    <p>3 rue Durival<br>
                        NANCY&nbsp;54000</p>
                    <p><a   class="phone"
                            style=" color: inherit;
                                    text-decoration: none;
                                    -webkit-transition: all ease-in .1s;
                                    -o-transition: all ease-in .1s;
                                    transition: all ease-in .1s;" 
                            href="tel:+33372310185"><i class="fas fa-phone fa-flip-horizontal"></i class="ml-1"> 03 72 31 01 85</a></p>
                    <p class="opening-hours"><i class="far fa-clock"></i><small> Du lundi au vendredi de 8h à 18h</small></p>
            </div>
        </div>

    </div>
{% endblock %}