{% extends 'base.html.twig' %}

{% block title %}Modifier une Marque{% endblock %}

{% block body %}
    {{ include('marque/_form.html.twig', {'button_label': 'Modifier'}) }}
    <a href="{{ path('marque_index') }}" class="btn btn-secondary">Retour</a>
    {{ include('marque/_delete_form.html.twig') }}
{% endblock %}
