{% extends 'base.html.twig' %}

{% block title %}Nouvelle Marque{% endblock %}

{% block body %}
    {{ include('marque/_form.html.twig') }}
    <a href="{{ path('marque_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
