<form   method="post" 
        action="{{ path('clients_delete', {'id': client.id}) }}" 
        onsubmit="return confirm('Êtes vous sûr.e de vouloir supprimer ce client ?');"
        class="col-4"
        style="padding: 0; margin: 0;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
