{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    {{ include('clients/_form.html.twig') }}
    <a href="{{ path('clients_index') }}"class="btn btn-secondary">Retour</a>
{% endblock %}
