{% extends 'mail/base.html.twig' %}

{% block body %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="max-width: 650px;">
    <tbody>
        <tr>
            <td>
                <table  bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0"
                        style="border-radius:8px 8px 4px 4px; background-color:#FFFFFF;" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <table  bgcolor="#0596DE" border="0" cellpadding="14" cellspacing="0"
                                        style="border-radius:8px 8px 0 0; background-color:#EE4423;"
                                    width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="middle" align="left" style="color:#FFFFFF;">
                                                                <span class="Object" id="OBJ_PREFIX_DWT148_com_zimbra_url">
                                                                    <h1 style=""><a  href="https://www.chauffatec.fr" target="_blank"
                                                                        class="chauffatec_title" style="color:#FFFFFF; font-weight:300;">
                                                                        CHAUFFATEC</a></h1>
                                                                </span>
                                                            </td>
                                                            <td align="right"
                                                                style="font-size:16px; line-height:35px; color:#FFFFFF;">
                                                                <span style="vertical-align:middle;">Réinitialisation de mot de passe.</span>
                                                            </td>
                                                            <td     align="right" width="38">
                                                                <img    alt=""
                                                                        border="0" height="24"
                                                                        style="display: block;"
                                                                        width="24"
                                                                        src="http://chauffatec.fr/img/reset.png">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="14" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="font-size:16px; color:#435F71;">
                                                                Mr Arnaud MICHOT</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="font-size:14px; color:#8E9FAA;">
                                                                Chauffagiste</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table  bgcolor="white" border="0" cellpadding="0" cellspacing="0"
                                                                        style="max-width:650px;border-radius:4px;overflow:hidden;padding:10px 15px 0 15px;"
                                                                        width="100%">
                                                                    <tbody>
                                                                        <tr style="font-size:14px; color:#435F71; line-height:24px;">
                                                                            <td class="xs-inline-block"
                                                                                style="padding-right:5%;padding-bottom:10px;">
                                                                                Vous avez effectué une <strong>réinitialisation de mot de passe.</strong> 
                                                                            </td>
                                                                            <td class="xs-inline-block xs-text-center xs-full-width"><img
                                                                                align="center" height="200"
                                                                                src="http://chauffatec.fr/img/plombier.png">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr></tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="display:inline-block; margin:7px;"
                                                                    width="264">
                                                                    <tbody>
                                                                        <tr align="center">
                                                                            <td align="center"
                                                                                bgcolor="#FF7E00"
                                                                                height="44"
                                                                                style="border-radius:4px; background-color:#FF7E00;"
                                                                                valign="center"
                                                                                width="264"><span
                                                                                    class="Object"
                                                                                    id="OBJ_PREFIX_DWT151_com_zimbra_url"><a
                                                                                        style="display:block; text-decoration:none; line-height:44px; color:#FFFFFF;"
                                                                                        href="{{ url }}"
                                                                                        target="_blank">RÉINITIALISER LE MOT DE PASSE</a></span>
                                                                                        {{ url }}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
