{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig') }}
    <a href="{{ path('user_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
